$bg-dark:#1f2937;
$color-hero:#f9faf8;
$color-button:#3882f6;
$bg-quote:#e5e7eb;
// css reset
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
// css
header{
    background: $bg-dark;
    display: flex;
    justify-content: space-around;
    color: $color-hero;
    ul{
        display: flex;
        gap: 10px;
        a{
            color: $color-hero;
        }
    }
}
.banner{
    background: $bg-dark;
    display: flex;
    color: $color-hero;
    padding: 50px;
    img{
        width: 400px;
        height: 200px;
        background: $bg-quote;
    }
}
main{
    text-align: center;
    h2{
        font-style: extra-bold;
    }
    ul{
        display: flex;
        justify-content: center;
        figure{
            img{
                width: 100px;
                height: 100px;
                border: 1px solid $color-button;
                border-radius: 5px;
            }
        }
    }
}
nav{
    background: $bg-quote;
    color: $bg-dark;
    padding: 50px 0;
    article{
        width: 50%;
        font-style: light italic;
        font-size: 36px;
        margin: 0 auto;
    }
    p{
        font-style: extra-bold;
        text-align: right;
    }
}
form{
    background: $color-button;
    color: $color-hero;
    margin: 50px;
    padding: 20px;

}
footer{
    background: $bg-dark;
    color: $color-hero;
    padding: 10px;
    text-align: center;
}